version: '3.8'
services:
  frontend:
    build: ./carrental-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

  backend:
    build: ./carrental-backend
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
